


.contenedor{
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

@media screen and (width < 419px) {
    .hijo{
        background-color: rgb(204, 197, 197);
        margin: auto;
        position: relative;
        width: 80%;
        height: 250px;
        padding: 5px 25px 5px 25px;
        border: 3px solid #808080;
        border-radius: 20px;
    } 
}

@media screen and (width >= 420px) and (width < 768px){
    .hijo {
            background-color: #6572e3;
            margin: auto;
            position: relative;
            width: 70%;
            height: 250px;
            padding: 5px 25px 5px 25px;
            border: 3px solid #2132cf;
            border-radius: 20px;
        }
}

@media screen and  (width >= 768px){
    .hijo {
            background-color: #8d7e67;
            margin: auto;
            position: relative;
            width: 70%;
            height: 250px;
            padding: 5px 25px 5px 25px;
            border: 3px solid #cf8c21;
            border-radius: 20px;
        }
}



div.hijo {
   margin: auto;
   position: relative;
   width: 300px;
   height: 250px;
   padding: 30px;
}

input.email {
    box-sizing: border-box;
    border-style: solid;
    border-color: rgb(125, 125, 125); 
    width: 100%;
    padding: 10px;
    margin: 20px auto 20px;
    border-radius: 25px;
    font-family: 'Onest', sans-serif;
}

input.password { 
    box-sizing: border-box;
    border-style: solid;
    border-color: rgb(125, 125, 125); 
    width: 100%;
    padding: 10px;
    margin: 20px auto 20px;
    border-radius: 25px;
    font-family: 'Onest', sans-serif;
}

button.login-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Onest', sans-serif;
    font-size: medium;
    margin-top: 60px;
    border-radius: 20px;
    padding: 10px;
    width: 154px;
}